.main-container {
	border: 2px solid black;
	width: 100%;
	height:100%;
	color: #C63D0F;
}

.subject-tile {
	height: 100px;
	width: 200px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	text-align: center;
}

.subject-link {
    text-decoration: none;
    width: 200px;
}

.topic-link {
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	color: #fff;
	opacity: .5;
}

.subject-tile:hover {
	border: 2px solid grey;
	background-color: lightgrey;
}

.nav-bar {
	background: #353948;
	border-right:1px solid #e5e5e5;
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	left:0;
	width:15%;
	float: left;
	overflow: auto;
}

.nav-list {
	text-decoration: none;
	list-style-type: none;
	padding: 0;
}

.nav-list>li {
}

.subject-container {
	width: 85%;
	position: absolute;
	left: 15%;
	height: 100%;
	overflow: auto;
}

.code-snippet {
	width: 100%;
	padding: 40px;
}

.code-box {
	width: calc(50% - 40px);
	float: left;
	color: white;
	padding: 20px 30px;
	background: #353948;
	margin: 0 20px;
}

.response-box {
	background: #42a477;
	width: calc(50% - 40px);
	float: left;
	padding: 20px 30px;
	color: #fff;
	margin: 0 20px;
	line-height: 170%;
}

.title {
	padding: 15px 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.21);
}

.notes {
	padding: 30px 50px;
	margin: 0px 60px;
	background: #eee;
	position: relative;
}

.heading {
	text-align: left;
	padding: 15px 20px;
	border-bottom: 1px solid #eee;
}

.sub-heading {
	text-align: left;
	color: black;
	margin: 15px;
	width: 85%;
}
body {
    font-family: sans-serif;
    margin: 0;
    color: #555;
}

.topic-link.active {
    opacity: 1;
}

.topic-link:hover {
    opacity: 1;
}

* {
    box-sizing: border-box;
    transition: all .3s;
}

.title h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 100;
}

.section {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
    margin: 50px 100px;
    padding-bottom: 60px;
    border-radius: 10px;
}

.clearfix:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

.heading h1 {
    margin: 0;
    font-size: 15px;
}

.notes:before {
    content: "*";
    font-size: 80px;
    opacity: .2;
    position: absolute;
    left: 10px;
    top: 0;
}

.highlight {
	font-weight: bold;
}